*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #282c34;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1440px;
    Header{
        background-color: red;
        position: absolute;
        top: 0%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10vh;
        max-width: 100%;
    }
    Footer{
        background-color: red;
        position: absolute;
        bottom: 0%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10vh;
        max-width: 100%;
    }
}